<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">
  <div>
    <h2>사업자 조회 페이지 - 사업자등록번호로 조회</h2>

    <p>사업자 휴폐업여부를 조회할 수 있는 페이지입니다. <br>
      확인하고 싶은 사업자의 등록번호를 입력하면 진위여부를 알려드립니다.
    </p>
    <form action="/bno/search" method="post">
      <div class="form-group">
        <input type="text" id="b_no" name="b_no" placeholder="사업자 등록번호를 입력하세요." size=28>
        <br>
        <button type="submit">조회</button>
      </div>
    </form>
  </div>
</div>
</html>