<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:justify-content="http://www.w3.org/1999/xhtml" xmlns:align-items="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
  <div>
    <img src="/img/slogan.png">
    <br><br>
    <h4><strong>About</strong></h4>
    <p>Det:B!는 여러분의 안전한 거래를 위해 만들어진 서비스로, <strong>사이트 주소</strong> 혹은 <strong>사업자 등록번호</strong>를 입력 받아서 <br>
      해당 사이트 혹은 사업자가 등록된 사업자인지 아닌지를 파악하여 여러분에게 알려드립니다. <br>
      또한 회원가입을 하고 나면 [마이페이지]에서 <strong>휴폐업 사업자</strong> 및 본인의 <strong>피해 사실</strong>을 <strong>신고할 수 있습니다.</strong>
      </p>
    <img src="/img/aboutRegister.png">
    <br>
    <h4><strong>How</strong></h4>
    <img src="/img/nts4.png">
    <br><br>
    <p><strong>국세청 오픈 API:</strong> 국세청에서 제공하는 '사업자등록정보 진위확인 및 상태조회' API 서비스를 통해<br>
      온라인 사업자가 현재 등록되어 활동 중인 사업자인지 원격으로 확인 가능합니다.<br>
      <br>
      <strong>웹 크롤링:</strong> 자바 Jsoup 기술을 통한 웹 크롤링 작업을 통해 사이트 주소를 입력하는 작업만으로<br>
      해당 사이트의 등록정보를 확인할 수 있습니다. 입력한 사이트에서 사업자 등록번호를 추출하고,<br>
      사업자 등록번호를 국세청 API에 조회합니다. 이는 직접 사업자 등록번호를 알아내 입력해야하는<br>
      다른 조회 서비스들과 비교하여, Det:B!가 갖고 있는 강점입니다. <br>
    </p>
    <br>
  </div>
</div>
<!--</body>-->
</html>