<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>사업자 진위 조회 및 목록</title>
</head>
<body>
<div class="container">
  <div>
    <h1>사업자 진위 조회 및 목록</h1>
    <p>사이트 주소를 입력하면 해당 사이트 사업자 등록 진위여부를 파악하여 알려드립니다. <br>
    혹은 사업자 번호로 검색해도 해당 사업자의 등록 진위여부를 파악하여 알려드립니다.
    </p>
    <p>
      <a href="/siteSearch">사이트 링크로 검색</a>
      <a href="/bnoSearch">사업자 번호로 검색</a>
    </p>
    <h2>배경</h2>
    <p>네이버 스마트 스토어의 활성화 이후, 누구나 사업자가 되어<br>
      다양한 사업자들이 등장했으며 온라인상에서 상거래 활동들도 덩달아 활발해졌습니다.<br>
      그러나 코로나 이후, 휴폐업하는 사업자들이 증가하고<br>
      이 사실을 알지 못한 소비자들이 피해를 입는 사례들이 많아졌습니다. <br>
      <br>
      이를 해결하고자 '사업자 진위 조회 및 목록' 서비스를 제작하였습니다.</p>
  </div>
</div>
</body>
</html>