<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">휴폐업 사업자 제보하기</h5>
    <form action="/user/mypage/reportBusiness" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="mb-3">
            <label for="username" class="form-label">아이디</label>
            <input type="text" id="username" name="username" placeholder="아이디를 입력하세요." size=28>
        </div>
        <div class="mb-3">
            <label for="businessNum" class="form-label">휴폐업 사업자 등록번호</label>
            <input type="text" id="businessNum" name="businessNum" placeholder="사업자 번호를 입력하세요." size=28>
        </div>
        <div class="mb-3">
            <label for="url" class="form-label">휴폐업 사이트 링크</label>
            <input type="text" id="url" name="url" placeholder="사이트 링크를 입력하세요." size=28>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>
</html>