<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">
    <div>
        <h2>사업자 조회 페이지 - 사이트 주소로 조회</h2>

        <p>사업자 휴폐업여부를 조회할 수 있는 페이지입니다. <br>
            원하는 사이트의 주소를 입력하면 진위여부를 알려드립니다.
        </p>
        <form action="/site/search" method="post">
            <div class="form-group">
                <input type="text" id="siteUrl" name="siteUrl" placeholder="사이트 주소를 입력하세요." size=28>
                <br>
                <button type="submit">조회</button>
            </div>
        </form>
        <img src="/img/siteSearch.png">
    </div>
</div>
</html>